body{
    margin:0px;
}
.top-pic h1 span{
    color:red;
}
.top-pic h1{
    color:white;
    text-align: center;
    position:absolute; bottom:10px; width:100%; margin: 0 atuo;
    font-size:60px;
    letter-spacing: 4px;
}
.top-pic{
    background-image: url("../img/IMG_4541.jpg");
    height:789px;
    background-size: cover;
}
.vision{
    background-color: black;
    height:789px;
    text-align: center;

}
.vision h1{
    display:inline-block;
    margin:0;
    color:white;
    border-bottom: solid;
    text-align: center;

}
.vision1{
    text-align: center;
}
.vision-word{
    position: absolute;
    right:0;
    text-align: left;
    font-size: 25px;
    line-height: 100px;
    margin-top: 100px;
    margin-right: 20%;

}
.vision-word p{
    writing-mode: vertical-rl;
    color:yellow;
}
.about {
    text-align: center;
    background-color: black;
    height:789px;
}
.about-1{

    color:white;
    display:inline-block;
    border-bottom: solid;
    margin:0;
}
.main-about {
    background-color: rgb(37, 37, 37);
    background-position: center;
    height: 600px;
    width:80%;
    margin-top: 50px;
    margin-left:10%;
    margin-right: 10%;
    border-radius: 50px;
    
}
.name{
    color:white;
    padding-top:10px;
    display:inline-block;
    border-bottom: solid;
}
.about-words{
    color:white;
    text-align: left;
    position: relative;
    text-align: left;
}
.myimg{
    height:300px;
    margin-top:10%;
    margin-left:10%;
    float:left;
    
}
.about-1{
    text-align: right;
    border-bottom:none;
}
.skills h2{
    color:white;
    display:inline-block;
    border-bottom: solid;


}
ul{
    list-style: none;
}

.html{
    color:white;
    display:inline-block;
    margin-right:20px;
}
.css{
    color:white;
    display:inline-block;
    margin-right:20px;
}
.php{
    color:white;
    display:inline-block;
}
.access{
    height:789px;
    background-color:black;
    color:white;
}
.c1{
    margin:0;
    color:white;
    text-align: center;
}
.twitter{
    color: white;
    font-size: 6em;
}
.twitter:hover{
    color: skyblue;
}
.inst{
    font-size: 6em;
    color:white;
}
.inst:hover{
    color:orangered;
}
.mail{
    font-size: 6em;
    color:white;
}
.mail:hover{
    color:yellow;
}
.sns{
    text-align: center;
    margin-top:100px;
    letter-spacing: 50px;
}
textarea{
    resize: both;
}
